---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Software Developer">
	<div class="error">
    <h1>404</h1>
    <h3>Page not found</h3>
	</div>
</Layout>

<style>
.error {
  margin-top: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
</style>
